$fts-color-primary-100: #5c1a00;
$fts-color-primary-200: #852803;
$fts-color-primary-300: #ad3709;
$fts-color-primary-400: #d64810;
$fts-color-primary: #fe5b1a;
$fts-color-primary-600: #ff7b46;
$fts-color-primary-700: #ff9a73;
$fts-color-primary-800: #ffba9f;
$fts-color-primary-900: #ffdacc;
$fts-color-secondary-100: #2e5c00;
$fts-color-secondary-200: #427d08;
$fts-color-secondary-300: #599e14;
$fts-color-secondary-400: #72bf24;
$fts-color-secondary-500: #8ce038;
$fts-color-secondary: #8ce038;
$fts-color-secondary-600: #a1e85a;
$fts-color-secondary-700: #b7f07e;
$fts-color-secondary-800: #cef7a4;
$fts-color-secondary-900: #e6ffcc;
$fts-spacing-col-0: 0%;
$fts-spacing-col-0-3: 2.7775%;
$fts-spacing-col-0-4: 2.0833%;
$fts-spacing-col-0-6: 4.1667%;
$fts-spacing-col-0-8: 6.25%;
$fts-spacing-col-0-9: 5.555%;
$fts-spacing-col-1: 8.3333%;
$fts-spacing-col-1-3: 11.1108%;
$fts-spacing-col-1-4: 10.4167%;
$fts-spacing-col-1-6: 12.5%;
$fts-spacing-col-1-8: 14.5833%;
$fts-spacing-col-1-9: 13.8883%;
$fts-spacing-col-2: 16.6667%;
$fts-spacing-col-2-3: 19.4442%;
$fts-spacing-col-2-4: 18.75%;
$fts-spacing-col-2-6: 20.8333%;
$fts-spacing-col-2-8: 22.9167%;
$fts-spacing-col-2-9: 22.2217%;
$fts-spacing-col-3: 25%;
$fts-spacing-col-3-3: 27.7775%;
$fts-spacing-col-3-4: 27.0833%;
$fts-spacing-col-3-6: 29.1667%;
$fts-spacing-col-3-8: 31.25%;
$fts-spacing-col-3-9: 30.555%;
$fts-spacing-col-4: 33.3333%;
$fts-spacing-col-5: 41.6667%;
$fts-spacing-col-6: 50%;
$fts-spacing-col-7: 58.3333%;
$fts-spacing-col-8: 66.6667%;
$fts-spacing-col-9: 75%;
$fts-spacing-col-10: 83.3333%;
$fts-spacing-col-11: 91.6667%;
$fts-spacing-col-12: 100%;
$fts-spacing-colvw-0: 0vw;
$fts-spacing-colvw-0-3: 2.7775vw;
$fts-spacing-colvw-0-4: 2.0833vw;
$fts-spacing-colvw-0-6: 4.1667vw;
$fts-spacing-colvw-0-8: 6.25vw;
$fts-spacing-colvw-0-9: 5.555vw;
$fts-spacing-colvw-1: 8.3333vw;
$fts-spacing-colvw-1-3: 11.1108vw;
$fts-spacing-colvw-1-4: 10.4167vw;
$fts-spacing-colvw-1-6: 12.5vw;
$fts-spacing-colvw-1-8: 14.5833vw;
$fts-spacing-colvw-1-9: 13.8883vw;
$fts-spacing-colvw-2: 16.6667vw;
$fts-spacing-colvw-2-3: 19.4442vw;
$fts-spacing-colvw-2-4: 18.75vw;
$fts-spacing-colvw-2-6: 20.8333vw;
$fts-spacing-colvw-2-8: 22.9167vw;
$fts-spacing-colvw-2-9: 22.2217vw;
$fts-spacing-colvw-3: 25vw;
$fts-spacing-colvw-3-3: 27.7775vw;
$fts-spacing-colvw-3-4: 27.0833vw;
$fts-spacing-colvw-3-6: 29.1667vw;
$fts-spacing-colvw-3-8: 31.25vw;
$fts-spacing-colvw-3-9: 30.555vw;
$fts-spacing-colvw-4: 33.3333vw;
$fts-spacing-colvw-5: 41.6667vw;
$fts-spacing-colvw-6: 50vw;
$fts-spacing-colvw-7: 58.3333vw;
$fts-spacing-colvw-8: 66.6667vw;
$fts-spacing-colvw-9: 75vw;
$fts-spacing-colvw-10: 83.3333vw;
$fts-spacing-colvw-11: 91.6667vw;
$fts-spacing-colvw-12: 100vw;